
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem; /* Adjust padding to give more space if needed */
    height: 80px; /* Increase height for a larger logo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Slightly stronger shadow for a smoother look */
    background-color: #ffffff; /* Ensure a solid background color */
}


header img {
    max-width: 100%;
    height: auto;
    width: auto;
    max-height: 100px;
}


header img {
    transition: all 0.3s ease-in-out;
}

header img:hover {
    transform: scale(1.1); 
}
